.post {
  margin: 3em !important;
}

.post-container {
  width: 50em;

  .post-author {
    font-size: 1.4rem;

    .ant-card-meta-title {
      .post-title-info {
        font-weight: 100;
      }
    }
  }
  .post-content {
    font-size: 1.2rem;
  }

  .ant-comment-actions li span {
    font-size: 1rem;
  }

  .date-created {
    float: right;
  }
}
